html,
body {
	height: 100%;
}

.header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #09102c;
		z-index: 2;
	}

	&__container {
		margin: 0px auto;
		padding: 15px 0px;

		&__body {
			position: relative;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			&-logo {
				position: relative;
				z-index: 3;
				flex: 0 0 150px;

				& img {
					max-width: 100%;
				}
			}

			&-menu {
				ul {
					display: flex;
					position: relative;
					align-items: center;
					z-index: 2;

					li {
						margin-left: 70px;

						a {
							color: #fff;
							text-decoration: none;
							font-size: 18px;

							&:hover {
								animation: neon6 1.5s ease-in-out infinite alternate;
							}
						}
					}
				}
			}
		}
	}
}

.header__burger {
	display: none;
}

.header-login {
	z-index: 20;

	.login__button {
		@extend %tplneon;
		@include disflex(inline-flex, flex-start, center);
		border: 2px solid #fff;
		border-radius: 20px;
		padding: 10px 20px;
		background-color: transparent;
		color: white;
		@include adaptiv-fontAll(18, 12);
		font-weight: 700;
	}

	.header__buttons {
		font-size: 16px;
		display: flex;
		justify-content: center;

		.header-cart {
			cursor: pointer;
			position: relative;
			box-sizing: border-box;
			background-color: hsl(308, 100%, 50%);
			color: hsl(0, 0%, 100%);
			text-transform: uppercase;
			text-decoration: none;
			transition: all 0.3s ease;
			@include disflex(inline-flex, space-between, center);
			flex: none;
			font-family: Comfortaa;
			flex-wrap: wrap;
			border-radius: 0.4em;
			font-weight: 400;
			letter-spacing: 0.04em;
			background: transparent !important;
			border: 0.1em solid hsl(0, 0%, 100%);
			text-shadow: hsl(0, 0%, 100%) 0px 0px 0.15em, hsl(0, 0%, 100%) 0px 0px 0.3em,
				hsl(0, 0%, 100%) 0px 0px 0.45em, hsl(308, 100%, 50%) 0px 0px 0.3em,
				hsl(308, 100%, 50%) 0px 0px 0.52em, hsl(308, 100%, 50%) 0px 0px 0.6em,
				hsl(308, 100%, 50%) 0px 0px 0.75em;
			box-shadow: hsl(0, 0%, 100%) 0px 0px 0.075em, hsl(0, 0%, 100%) 0px 0px 0.15em,
				hsl(0, 0%, 100%) 0px 0px 0.22em, hsl(308, 100%, 50%) 0px 0px 0.3em,
				hsl(308, 100%, 50%) 0px 0px 0.52em, hsl(308, 100%, 50%) 0px 0px 0.6em,
				hsl(308, 100%, 50%) 0px 0px 0.75em, inset hsl(308, 100%, 50%) 0 0 0.6em;

			&:hover {
				text-shadow: hsl(0, 0%, 100%) 0px 0px 0.3em, hsl(0, 0%, 100%) 0px 0px 0.6em,
					hsl(0, 0%, 100%) 0px 0px 0.9em, hsl(308, 100%, 50%) 0px 0px 0.6em,
					hsl(308, 100%, 50%) 0px 0px 1.04em, hsl(308, 100%, 50%) 0px 0px 1.2em,
					hsl(308, 100%, 50%) 0px 0px 1.5em;
				box-shadow: hsl(0, 0%, 100%) 0px 0px 0.15em, hsl(0, 0%, 100%) 0px 0px 0.3em,
					hsl(0, 0%, 100%) 0px 0px 0.44em, hsl(308, 100%, 50%) 0px 0px 0.6em,
					hsl(308, 100%, 50%) 0px 0px 1.04em, hsl(308, 100%, 50%) 0px 0px 1.2em,
					hsl(308, 100%, 50%) 0px 0px 1.5em, inset hsl(308, 100%, 50%) 0 0 1.2em;
			}

			position: relative;
			padding: 10px;
			border-radius: 50%;

			.icon__cart-basket {
				position: absolute;
				border: 0.1em solid white;
				border-radius: 50%;
				background-color: #af2179;
				color: white;
				padding: 3px 3px 1px 4px;
				width: 25px;
				height: 25px;
				font-size: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 28px;
				bottom: -9px;
			}

			@media (max-width: 967px) {
				.icon__cart-basket {
					padding: 3.5px 3px 0.7px 4px;
					width: 20px;
					height: 20px;
					font-size: 9px;
					left: 28px;
					bottom: -5px;
				}
			}
		}

		@media (max-width: 967px) {
			.header-cart {
				font-size: 14px;
			}
		}

		.header-user {
			cursor: pointer;
			position: relative;
			box-sizing: border-box;
			background-color: hsl(308, 100%, 50%);
			color: hsl(0, 0%, 100%);
			text-transform: uppercase;
			text-decoration: none;
			transition: all 0.3s ease;
			@include disflex(inline-flex, space-between, center);
			flex: none;
			font-family: Comfortaa;
			flex-wrap: wrap;
			border-radius: 0.4em;
			padding: 10px 20px;
			font-weight: 400;
			letter-spacing: 0.04em;
			background: transparent !important;
			border: 0.1em solid hsl(0, 0%, 100%);
			text-shadow: hsl(0, 0%, 100%) 0px 0px 0.15em, hsl(0, 0%, 100%) 0px 0px 0.3em,
				hsl(0, 0%, 100%) 0px 0px 0.45em, hsl(308, 100%, 50%) 0px 0px 0.3em,
				hsl(308, 100%, 50%) 0px 0px 0.52em, hsl(308, 100%, 50%) 0px 0px 0.6em,
				hsl(308, 100%, 50%) 0px 0px 0.75em;
			box-shadow: hsl(0, 0%, 100%) 0px 0px 0.075em, hsl(0, 0%, 100%) 0px 0px 0.15em,
				hsl(0, 0%, 100%) 0px 0px 0.22em, hsl(308, 100%, 50%) 0px 0px 0.3em,
				hsl(308, 100%, 50%) 0px 0px 0.52em, hsl(308, 100%, 50%) 0px 0px 0.6em,
				hsl(308, 100%, 50%) 0px 0px 0.75em, inset hsl(308, 100%, 50%) 0 0 0.6em;

			&:hover {
				text-shadow: hsl(0, 0%, 100%) 0px 0px 0.3em, hsl(0, 0%, 100%) 0px 0px 0.6em,
					hsl(0, 0%, 100%) 0px 0px 0.9em, hsl(308, 100%, 50%) 0px 0px 0.6em,
					hsl(308, 100%, 50%) 0px 0px 1.04em, hsl(308, 100%, 50%) 0px 0px 1.2em,
					hsl(308, 100%, 50%) 0px 0px 1.5em;
				box-shadow: hsl(0, 0%, 100%) 0px 0px 0.15em, hsl(0, 0%, 100%) 0px 0px 0.3em,
					hsl(0, 0%, 100%) 0px 0px 0.44em, hsl(308, 100%, 50%) 0px 0px 0.6em,
					hsl(308, 100%, 50%) 0px 0px 1.04em, hsl(308, 100%, 50%) 0px 0px 1.2em,
					hsl(308, 100%, 50%) 0px 0px 1.5em, inset hsl(308, 100%, 50%) 0 0 1.2em;
			}

			text-transform: none;
			padding: 10px 12px;
			border-radius: 50px;
			margin-right: 20px;
			position: relative;
			display: inline-block;

			a {
				color: #fff;
			}

			.dropdown-content {
				text-align: center;
				display: none;
				position: absolute;
				left: 0;
				top: 40px;
				background: #09102c;
				border-radius: 20px;
				border: 2px solid #fff;
				padding: 20px 10px;
				min-width: 100%;
				z-index: 1;

				a {
					padding: 12px 16px;
					text-shadow: none;
					display: block;
					line-height: 20px;
					font-size: 12px;

					&:hover {
						@extend %tplneon;
						box-shadow: none;
						border: none;
						font-size: 12px;
					}
				}
				a {
					padding: 12px 16px;
					form {
						button {
							font-family: Comfortaa;
							background-color: transparent;
							color: white;
							text-shadow: none;
							display: block;
							line-height: 20px;
							font-size: 12px;
							width: 100%;
							padding: 0;

							&:hover {
								padding: 0;
								@extend %tplneon;
								box-shadow: none;
								border: none;
								font-size: 12px;
							}
						}
					}
				}
			}

			@media (max-width: 400px) {
				.dropdown-content {
					left: -45px;
					padding: 10px 0px;
					width: 130px;
					z-index: 1;

					a {
						padding: 10px 5px;
						text-shadow: none;
						display: block;
						line-height: 20px;
						font-size: 8px;
						line-height: 10px;
					}
				}
			}

			&:hover .dropdown-content {
				display: block;
			}
		}
	}

	@media (max-width: 976px) {
		.header__buttons {
			font-size: 14px;
			margin-right: 15px;
		}

		.header-user {
			padding: 0px;
		}

		.login__button {
			margin-right: 15px;
		}
	}

	@media (max-width: 400px) {
		.header__buttons {
			margin-right: 30px;
		}

		.login__button {
			margin-right: 30px;
		}
	}
}

.header-cart a {
	color: white;
}

.header__buttons__mini {
	margin-top: 30px;
}

.header-user__mini {
	margin-right: 25px;
	margin-left: 0;
}

.header-logged {
	@include disflex(flex, flex-start, center);
	background: #09102c;
	padding: 10px 100px;

	.header__logged {
		width: 10%;

		& img {
			max-width: 70%;
		}
	}
}

.dropbtn img {
	fill: whites;
}

// МЕДИА 1500px - 1000px --------------------------

@media (max-width: 1250px) {
	.header__container__body-menu {
		li {
			margin-left: 50px;
		}
	}
}

@media (max-width: 1140px) {
	.header__container__body-menu {
		li {
			margin-left: 20px;
		}
	}
}

@media (max-width: 1100px) {
	.contetnt__cart {
		width: 800px;
		padding: 0 20px 0 20px;
	}
}

@media (max-width: 976px) {
	.header {
		height: 60px;
		padding-top: 5px;
	}

	.header__container {
		padding: 0px 15px;
	}

	body.lock {
		overflow: hidden;
	}

	.header__container__body {
		height: 50px;
		justify-content: space-between;
	}

	.header__container__body-logo {
		flex: 0 0 auto;

		& img {
			width: 70px;
		}
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__container__body-menu {
		position: fixed;
		text-align: center;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #32133f;
		padding: 80px 10px 20px 10px;

		ul {
			display: block;
			margin-top: 20px;

			li {
				margin: 0 0 60px 0;

				a {
					font-size: 32px;
				}
			}
		}

		&.active {
			top: 0;
		}
	}

	.content {
		padding: 70px 0 0 0;
	}

	.login__button {
		@include fontzcolor(16px, #fff);
		padding: 8px 15px;
	}

	.contetnt__cart {
		width: 670px;
	}
}

// МЕДИА 999px - 500px --------------------------

@media (max-width: 700px) {
	.contetnt__cart {
		width: 570px;
	}
}

@media (max-width: 600px) {
	.title__cart {
		font-size: 40px;
	}

	.contetnt__cart {
		width: 450px;
	}

	.up__title,
	.cart__up {
		font-size: 16px;
	}

	.cart__down {
		font-size: 16px;
	}

	.button__amount {
		font-size: 16px;
		width: 20px;
		height: 20px;
	}

	.title__amount {
		margin-right: 80px;
	}

	.up__text {
		.up__text-deite {
			top: -6px;
			right: -33px;
		}
	}

	.cart__box {
		min-height: 50vh;
	}
}

@media (max-width: 500px) {
	.contetnt__cart {
		width: 370px;
	}
}

// МЕДИА 499px - 300px --------------------------

@media (max-width: 400px) {
	.small__user {
		display: none;
	}

	.up__text {
		.up__text-deite {
			top: -8px;
			right: -33px;
		}
	}

	.title__cart {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.contetnt__cart {
		width: 280px;
	}

	.big__title {
		display: none;
	}

	.small__title {
		font-size: 16px;
		display: block;
		font-weight: bolder;
	}

	.cart__up {
		font-size: 12px;
	}

	.cart__down {
		font-size: 12px;
		margin-bottom: 35px;
	}

	.title__amount {
		margin-right: 10px;
	}
}

@media (max-width: 350px) {
	.title__cart {
		margin-bottom: 30px;
	}

	.cart__up-main {
		margin-bottom: 40px;
	}

	.cart__up {
		margin-bottom: 30px;
	}

	.up__title {
		margin-bottom: 10px;
	}
}
