.header-admin {
  @include disflex(flex, space-between, center);
  padding: 0px 40px;
  height: 10vh;
  background-color: #09102c;

  a {
    color: white;

    &:hover {
      color: #af2179;
    }
  }
}

.admin__item {
  display: flex;
}

.admin-welcome {
  width: 20%;
  height: 90vh;
  background-color: #af2179;
  padding: 30px 20px;
  color: white;
}

.admin-welcome__title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  cursor: default;
}

.admin__hi {
  @include disflex(flex, center, center);
  flex-direction: column;
  text-align: center;
  width: 80%;
  font-size: 50px;

  img {
    margin-top: 30px;
    height: 45vh;
    width: 45vw;
  }
}

.admin-welcome-subtitle {
  ul {
    margin-top: 50px;
  }

  li {
    cursor: pointer;
    margin-top: 40px;

    &:first-child {
      margin-top: 0px;
    }
  }

  a {
    color: white;

    &:hover {
      color: #09102c;
    }
  }
}

.admin-panel {
  padding: 40px 20px;
  min-height: 90vh;
  position: relative;
}

.panel__title {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 28px;
  font-weight: 500;
  color: #af2179;
}

.pamel__item-title {
  font-weight: 700;
  font-size: 20px;
}

// Кнопка добавить
.panel__button-add a {
  display: flex;
  align-items: center;
  width: 235px;
  color: black;

  img {
    margin-right: 10px;
    height: 32px;
    width: 32px;
  }
}

.panel__button-return a {
  display: flex;
  align-items: center;
  width: 235px;
  color: black;

  img {
    margin-right: 10px;
    height: 32px;
    width: 32px;
  }
}

.panet__table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;

  td {
    text-align: center;
    padding: 3px;
    width: 30px;
    height: 35px;
  }

  tr {
    border-bottom: 1px solid #c9c9c9;

    &:last-child {
      border: 0;
    }
  }

  .panel__icon {
    width: 30px;
    height: 35px;
    cursor: pointer;
  }

  .small__width {
    width: 10%;
  }

  .name__product {
    width: 30%;
  }
}

.return a {
  width: 115px;
}

// МЕДИА  --------------------------

@media (max-width: 1300px) {
  .admin-welcome {
    width: 30%;
  }

  .admin-welcome-subtitle {
    font-size: 18px;
  }

  .admin__hi {
    font-size: 40px;
    width: 70%;
  }
}

@media (max-width: 790px) {
  .admin-welcome {
    padding: 30px 10px;
  }

  .admin-welcome-subtitle {
    word-wrap: inherit;
    font-size: 16px;
  }

  .admin__hi {
    font-size: 32px;
  }

  .admin__hi img {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .admin__hi {
    display: none;
  }

  .admin-welcome {
    width: 100%;
    text-align: center;
  }
}
