.admin-select {
  @include disflex(flex, center, center);
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.admin-select__title {
  margin-bottom: 30px;
  font-size: 30px;
}

.admin-select__gender {
  display: flex;
}

.gender__men {
  padding-bottom: 10px;
  text-align: center;
  width: 300px;
  margin-right: 50px;
  background-color: silver;
  transition: 0.1s ease-in-out;
  position: relative;

  &:last-child {
    margin-right: 0px;
  }

  a {
    color: black;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.gender__return a {
  position: relative;
  content: "";
  top: 40px;
  left: 20px;
  width: 115px;
}
