.grid {
  margin: 150px auto 100px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}


.grid a {
  float: left;
  max-width: 300px;
  color: #333;
}

.grid a:nth-child(odd) {
  margin: 30px 0 -30px 0;
}

.grid a:nth-child(even) {
  margin: 0px;
}

@media (max-width: 967px) {
  .grid a:nth-child(odd) {
    margin: 0px;
  }
}


.grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.grid figcaption {
  position: absolute;
  top: 0px;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid figcaption h2 {
  margin: 5px 0 15px 0;
  color: #000;
  font-family: Comfortaa;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  transition: transform 0.3s;
}

.grid figcaption p {
  padding: 0 20px;
  color: #09102c;
  font-weight: 300;
  font-family: Montserrat;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
  transform: translateY(50px);
}

.grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: opacity 0.3s, transform 0.3s;
}

@media (max-width: 1140px) {
  .grid figcaption h2 {
    font-size: 100%;
  }

  .grid figcaption p {
    font-size: 16px;
  }
}

@media (max-width: 870px) {
  .grid figcaption h2 {
    font-size: 80%;
  }

  .grid figcaption p {
    font-size: 16px;
  }

  .grid figure button {
    font-size: 10px;
  }
}

@media (max-width: 745px) {
  .grid figcaption h2 {
    font-size: 70%;
  }

  .grid figcaption p {
    font-size: 15px;
  }
}

@media (max-width: 720px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid figcaption h2 {
    font-size: 100%;
  }

  .grid figcaption p {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .grid figcaption h2 {
    font-size: 90%;
  }

  .grid figcaption p {
    font-size: 16px;
  }

  .grid figure button {
    font-size: 12px;
  }

  .grid {
    margin: 50px auto 50px;
  }
}

@media (max-width: 432px) {
  .grid figcaption h2 {
    font-size: 100%;
  }

  .grid figcaption p {
    font-size: 18px;
  }

  .hide__grid {
    width: 280px;
  }

  .grid a {
    width: 380px;
  }
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
  position: absolute;
  top: -1px;
  z-index: 10;
  width: 100%;
  height: 100%;
}

//-------ВЕРХНЯЯ ПОДЛОЖКА------------//

.grid svg path {
  fill: #fff;
}

//--------------------------------//

/* Hover effects */
.grid a:hover figure img {
  opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
  transform: translateY(0);
}

.grid a:hover figcaption p {
  opacity: 0;
}

/* Individual styles */

.demo-2 body {
  background: #e74c3c;
}

//--------ЗАГАЛОВОК--------//

.demo-2 .grid figcaption h2 {
  color: #09102c;
}

.demo-2 .grid figcaption p {
  transition-delay: 0.05s;
}

//--------НИЖНЯЯ ПОДЛОЖКА----------//

.demo-2 .grid figure button {
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #fff;
  color: #09102c;
  font-weight: 300;
  transform: translateY(100%);
}

.demo-2 .grid a:hover figure button {
  transition-timing-function: ease-out;
  transform: translateY(0);
}

.demo-2 .grid figcaption h2,
.demo-2 .grid figcaption p {
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
}

.demo-2 .grid a:hover figcaption p {
  transition-delay: 0s;
  transition-duration: 0.1s;
}