.edit-wrapper {
  background: center / cover no-repeat url("/app/template/img/011.jpg");
  width: 100%;
  padding: 80px 0;
  color: #fff;
}

.edit {
  max-width: 800px;
  background: center / cover no-repeat url("/app/template/img/005.png");
  border-radius: 20px;
  margin: 0 auto;

  &-title {
    @include fontzcolor(40px, #09102c);
    line-height: 54px;
    background: #fff;
    text-align: center;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    padding: 40px 0 40px;
    font-family: Montserrat;
    margin-bottom: 40px;
  }

  &-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &__input {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin: 20px 0 40px;

      &:nth-child(odd) {
        align-self: start;
      }

      &:nth-child(even) {
        align-self: end;
      }

      label {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      input {
        @extend %tplinput;
      }
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
    width: 100%;

    &__link {
      @extend %tplneon;
      text-align: center;
      margin: 10px 0;
      font-size: 22px;
    }
  }
}

@media (max-width: 700px) {
  .edit-inputs {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .edit-inputs__input {
    width: 45%;
  }
  .edit-title {
    @include fontzcolor(35px, #09102c);
    line-height: 45px;
    margin-bottom: 0px;
  }
  .signup-mistakes {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .edit-inputs__input {
    width: 55%;
  }
  .edit-title {
    @include fontzcolor(32px, #09102c);
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .edit-inputs__input {
    width: 60%;
    margin: 10px 0 20px;
  }
  .edit-inputs__input label {
    font-size: 20px;
  }
  .edit-buttons__link {
    font-size: 18px;
  }
  .edit-title {
    @include fontzcolor(28px, #09102c);
    line-height: 35px;
  }
}

@media (max-width: 400px) {
  .edit-inputs__input {
    width: 65%;
  }
  .edit-title {
    @include fontzcolor(24px, #09102c);
  }
  .edit-buttons__link {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .edit-inputs__input {
    width: 70%;
  }
}
