.signup {
	background: center / cover no-repeat url('../../img/010.jpg');
	@include disflex(flex, center, center);
	padding: 80px 0;

	&__container {
		width: 800px;
		background: center / cover no-repeat url('../../img/005.png');
		border-radius: 20px;
		padding: 0 0 40px 0;

		h2 {
			@include adaptiv-fontAll(30, 24);
			color: #09102c;
			background: #fff;
			text-align: center;
			border-bottom-left-radius: 80%;
			border-bottom-right-radius: 80%;
			padding: 40px 0;
			font-weight: 700;
		}

		&-form {
			&-item {
				@include disflex(flex, space-around, center);

				&:last-child {
					flex-direction: column;
					padding: 0 5vw;
					//  text-align: center;
					height: 150px;
				}

				&-string {
					.form-group {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						color: #fff;
						padding: 20px 0;
						position: relative;

						label {
							@include adaptiv-fontAll(24, 16);
						}

						input {
							@extend %tplinput;
							width: 300px;
							margin-top: 10px;
						}
						p {
							position: absolute;
							bottom: -1px;
							left: 0;
							width: 300px;
							padding: 0 0 0 5px;
							font-size: 12px;
						}
					}
				}

				.checkbox__register {
					display: flex;
					align-items: center;
					margin: 0px 0 30px 0;
					color: white;
					width: 100%;
					text-align: center;
					@include adaptiv-fontAll(20, 14);

					a {
						@extend %tpltext;
						color: white;
					}

					label {
						cursor: pointer;
						margin-right: 20px;

						&:hover {
							filter: brightness(1.2);
						}

						input {
							display: none;

							&:checked ~ .checkbox__div {
								background-color: #fff;
								box-shadow: hsl(0, 0%, 100%) 0px 0px 0.3em;
								transition: 0.3x ease-in-out;
							}

							&:checked ~ .checkbox__div::before {
								background-color: #af2179;
								left: 18.5px;
							}
						}

						.checkbox__div {
							position: relative;
							width: 45px;
							height: 28px;
							border-radius: 500px;
							background-color: #fff;
							transition: 0.3s ease-in-out;

							&:before {
								content: '';
								position: absolute;
								top: 2px;
								left: 2px;
								width: 24px;
								height: 24px;
								background-color: #af2179;
								border-radius: 50%;
								transition: 0.3s ease-in-out;
							}
						}
					}
				}
			}

			.signup__button {
				@include adaptiv-fontAll(20, 14);
				@extend %tplneon;
				display: block;
			}
		}
	}

	.signup-mistakes {
		@extend %tplerror;
	}
}

.no-neon {
	text-shadow: none;
	box-shadow: none;

	&:hover {
		text-shadow: none;
		box-shadow: none;
		cursor: default;
	}
}

.yes-neon {
	@extend %tplneon;
}

@media (max-width: 700px) {
	.signup__container-form-item {
		flex-direction: column;
	}

	.signup {
		padding: 0px 0;
	}

	.signup__container {
		border-radius: 0px;
	}
}
